/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

#app-wrapper {
    height: 100vh;
}

/* HEADER */

#header-top {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

.boolfix-logo h1 {
    color: red;
    font-weight: 100;
    text-transform: uppercase;
}

#search-bar {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#search-bar label {
    margin-right: 10px;
}

#search-bar i {
    color: grey;
}

#search-movie {
    height: 30px;
    width: 300px;
    border: 0;
}

#header-bottom {
    background-color: black;
}

/* MAIN */

/* genre select */
.genre-select{
    background-color: dimgrey;
    padding: 10px;
    text-align: center;
}

select#genre {
    height: 30px;
    border-radius: 10px;
}
/* main content */
main {
    background-color: grey;
    height: calc(100% - 80px);
    overflow-x: scroll;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.card-container li.movie,
.card-container li.tv {
    width: calc(100% / 3 - 110px);    
    margin: 8px 20px;
    padding: 5px;   
}

@media all and (max-width: 768px) {
    .card-container li.movie,
    .card-container li.tv {
        width: calc(100% / 1 - 110px);
    }
    #search-movie {        
        width: 100px;       
    }
}

@media all and (min-width: 769px) and (max-width: 1199px) {
    .card-container li.movie,
    .card-container li.tv {
        width: calc(100% / 2 - 110px);
    }
}


.card-container .inner-card {      
    position: relative;
    width: 342px;
    height: 520px;   
    cursor: pointer;
}

.card-container .inner-card .no-poster {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.card-container .inner-card .no-poster img {
   width: 100%;   
}

.card-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    overflow: auto;
}

 .overlay .overlay-content {
    padding: 20px 15px;
    font-size: 15px;
    font-weight: 500;
}

.overlay .overlay-content span {
    font-weight: 100;
}

.overlay .overlay-content li {
    padding: 5px 0;
}

.card-container li .inner-card:hover .overlay {
    display: block;
}

.overlay .overlay-content li.stars i {
    color: yellow;
}

.language-flag img {
    width: 20px;
}

