<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolFix</title>
</head>
<body>

    <div id="root">
        <!-- HEADER -->
        <header>
            <div id="header-top">
                <!-- logo -->
                <div class="boolfix-logo">
                    <h1>Boolflix</h1>
                </div>
                <!-- end logo -->

                <div id="search-bar">
                    <label for="search-movie"><i class="fas fa-search"></i></label>
                    <input id="search-movie"
                        type="text"
                        @keyup.enter="searchMovie"
                        v-model="userInput"
                        placeholder="Search Movie">

                    <button id="movie-search-btn" @click="searchMovie" >Search</button>
                </div>
            </div>
        </header>
        <!-- end HEADER -->

        <!-- MAIN -->
        <main>

            <!-- Movie container -->
            <div class="main-content">

                <!-- Movie and show-tv card container -->
                <ul class="card-container">

                    <!-- SINGLE MOVIE CARD -->
                    <li class="movie" v-for="movie in movieCollection">

                        <div class="inner-card">

                            <!-- movie poster -->
                            <div class="bg-poster" v-if="movie.poster_path != null" >
                                <img :src="posterImg(movie.poster_path)" alt="">
                            </div>

                            <div class="no-poster" v-else>
                                <img src="img/no-image.png" alt="">
                            </div>
                            <!-- end movie poster -->

                            <!-- overlay with movie info -->
                            <div class="overlay">

                                <ul class="overlay-content">

                                    <li>Titolo: <span>{{movie.title}}</span></li>
    
                                    <li>Titolo originale: <span>{{movie.original_title}}</span></li>
            
                                    <li class="language-flag">Lingua:
                                        
                                        <span v-if="flagsArray.includes(movie.original_language)">
                                            <img :src="flagLanguage(movie.original_language)" alt="">
                                        </span>

                                        <span v-else>{{movie.original_language}}</span>

                                    </li>
            
                                    <li>Voto:
                                        <i v-for="number in numberAsInteger(movie.vote_average)" class="fas fa-star"></i>
                                        <i v-for="n in 5 - numberAsInteger(movie.vote_average)" class="far fa-star"></i>
                                    </li>

                                    <li>
                                        {{movie.overview}}
                                    </li>

                                </ul>

                            </div>
                            <!-- end overlay with movie info -->

                        </div>
                    </li>
                    <!-- end SINGLE MOVIE CARD -->


                    <!-- SINGLE SHOW CARD -->
                    <li class="tv" v-for="show in tvCollection">

                        <div class="inner-card">

                            <!-- Show poster -->
                            <div class="bg-poster" v-if="show.poster_path != null" >
                                <img :src="posterImg(show.poster_path)" alt="">
                            </div>

                            <div class="no-poster" v-else>
                                <img src="img/no-image.png" alt="">
                            </div>
                            <!-- end Show poster -->

                            <!-- overlay with show info -->
                            <div class="overlay">

                                <ul class="overlay-content">

                                    <li>Titolo: <span>{{show.name}}</span></li>
                                    
                                    <li>Titolo originale: <span>{{show.original_name}}</span></li>

                                    <li class="language-flag">Lingua:
                                        
                                        <span v-if="flagsArray.includes(show.original_language)">
                                            <img :src="flagLanguage(show.original_language)" alt="">
                                        </span>

                                        <span v-else>{{show.original_language}}</span>

                                    </li>

                                    <li>
                                        Voto:
                                        <i v-for="number in numberAsInteger(show.vote_average)" class="fas fa-star"></i>
                                        <i v-for="n in 5 - numberAsInteger(show.vote_average)" class="far fa-star"></i>
                                    </li>

                                </ul>

                            </div>
                            <!-- end overlay with show info -->                             

                        </div>
                        
                    </li>
                    <!-- end SINGLE SHOW CARD -->

                </ul>
                <!-- end Movie and show-tv card container -->


            </div>
            <!-- end Movie container -->
        </main>
        <!-- end MAIN -->
    </div>

    <script src="js/script.js"></script>
</body>
</html>