<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolFix</title>
</head>
<body>
    
    <div id="root">

        <header>
           <label for="">Search movie</label>
           <input type="text" @keyup.enter="searchMovie"  v-model="userInput">
           
           <button id="movie-search-btn" >Search</button>
        </header>

        <main>

            <div class="movie-container">
                <ul class="movie-list">

                    <li id="movie" v-for="movie in movieCollection">

                        <div v-if="movie.backdrop_path != null" class="movie-poster"><img :src="'https://image.tmdb.org/t/p/w342' + movie.backdrop_path" alt=""></div>
                        <div v-else>Image not found</div>
                        
                        <div>Titolo: {{movie.title}} </div>

                        <div>Titolo originale: {{movie.original_title}}</div>

                        <div class="language-flag">Lingua: 
                            <span><img :src="'img/' + movie.original_language + '.svg'" alt=""></span>
                            <span>{{movie.original_language}}</span>
                        </div>
                        
                        <div>Voto:
                            <i v-for="number in numberAsInteger(movie.vote_average)" class="fas fa-star"></i>
                            <i v-for="n in 5 - numberAsInteger(movie.vote_average)" class="far fa-star"></i>
                        </div>
                    </li>

                    <li id="tv" v-for="show in tvCollection">

                        <div v-if="show.backdrop_path != null" class="movie-poster"><img :src="'https://image.tmdb.org/t/p/w342' + show.backdrop_path" alt=""></div>
                        <div v-else>Image not found</div>
                        
                        <div>Titolo: {{show.name}}</div>

                        <div>Titolo originale: {{show.original_name}}</div>

                        <div class="language-flag">Lingua: 
                            <!-- <span><img :src="'img/' + show.original_language + '.svg'" alt=""></span> -->
                            <span>{{show.original_language}}</span>
                        </div>
                        
                        <div>Voto:
                            <i v-for="number in numberAsInteger(show.vote_average)" class="fas fa-star"></i>
                            <i v-for="n in 5 - numberAsInteger(show.vote_average)" class="far fa-star"></i>
                        </div>
                    </li>

                   

                </ul>              
                

            </div>

        </main>
    </div>

    <script src="js/script.js"></script>
</body>
</html>